__pycache__
*flask_session*
*venv*
*.env
*.glf
*docker_*
.vscode 
.scannerwork/
*__pycache__*
.pytest_cache/
gha-creds-*.json
*.acky
data/*
project_requirement_document.txt
progress.md
*.log
encrypt_settings_batch.sh
encrypt_settings.cmd
docker-compose.yml
build_dependencies/prepare4deployment.ps1